<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memory-gram</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>welcome to memoryBoard!!</h3>
    <form method="GET" action="/chats/new">
        <button>Create your</button>
    </form>
    <br>
    <div class="flexbox">
        <% for(let chat of chats){ %>
            <div class="chat">
                <p>from: <%= chat.from %></p>
                <div class="msg">
                    <p>messege: <%= chat.msg %></p>
                    <div class="buttons">
                        <form method="get" action="/chats/<%= chat._id %>/edit ">
                            <button>Edit</button>
                        </form>
                        <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE ">
                            <button>Delete</button>
                        </form>
                    </div>
                </div>
                <p>to: <%= chat.to %></p>
                <hr/>
                <p><%= chat.created_at.toString().split(" ")[4] %></p>
                <p><%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %></p>
            </div>
            <br><br>
        <%}%>
    </div>
</body>
</html>
